p {
	font-size: 20px;
}		
#handle {
	width: 2em;
	height: 1.6em;
	top: 50%;
	margin-top: -.8em;
	text-align: center;
	line-height: 1.6em;
}
#main {
	display: flex;
	flex-direction: column;
	width: 600px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	background-color: #f5dbb1;
	border-radius: 15px;
	align-items: center;
	padding: 25px;
}
.brd {
	border: 1px solid red;
}
#cont {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0 10px;
	width: 100%;
}
#cont div {
	width: 32%;
	text-align: center;
}
#cont p {
	margin: 10px auto;
}
#slider_cont {
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;		
}
#slider {
	width: 100%;
}
.form-control[readonly], .form-control{
	background-color: white;
}
#min_max {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 20px;
}