<form 
  [formGroup]="form" 
  (ngSubmit)="onSubmit()"
  >
  <mat-form-field>
    <input 
      matInput 
      placeholder="Write here" 
      formControlName="text"
    >
  </mat-form-field>
  <br>
  <button 
    mat-raised-button 
    color="primary" 
    type="submit"
  >Send</button>
</form>