<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
	<p>{{data.message}}</p>
</div>
<div mat-dialog-actions>
	<button 
		mat-raised-button 
		color={{button.color}}
		*ngFor="let button of data.buttons" 
		[mat-dialog-close]="GetResult(button.result)"
	>{{ button.title }}</button>
</div>
 