.brd {
	border: 1px solid red;
}
body {
	font-family: 'Roboto';
}
#main {
	width: 710px;
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	background-color: #cdeedf;
	border-radius: 15px;
	padding: 30px;
}
h1, h2, h3{
	color: #006837;
}
hr {
	border-top: 1px solid #006837;
}
#type_credit_select {
	padding: 0;
}
input[type="number"] {
    font-size:20px;
}
#main_calculating label {
	padding-top: 0;
}
#main_calculating .black_bord{
	border: 2px solid black;
}
.pad {
	padding-right: 10px;
	padding-left: 10px;
}
#main div .marg_padd {
	margin: 0;
	padding: 0;
}
#type_of_repayment_persent {
	background: white;
}
.blue_bord {
	border: 2px solid #5692cc;
}
#schedule_button {
	float: right;
}
div.slider-selection {
	background: #bababa;
}
div .slider.slider-horizontal {
	width: 100%;
}
div .slider-handle {
	background-color: #006837;
	background-image: -webkit-linear-gradient(top, #4cae4c 0%, #006837 100%);
	background-image: linear-gradient(to bottom, #4cae4c 0%, #006837 100%);
}
#loan_calculation p {
	font-weight: bold;
}
#result_table thead tr th {
	-border-bottom: 2px solid #006837;
}
#result_table tfoot {
	font-weight: bold;
}
