* {
	font-family: sans-serif;
}
.m-b {
	margin-bottom: 1em;
}
.m-t {
	margin-top: 1em;
}
.brd {
	border: 1px dotted red;
}
.hide{
	display: none;
 }
h1 {
	line-height: 140%;
}
select, input {
	border: 1px solid #e78f08;
}
.continent_country_city_name {
	width: 240px;
}
#container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#main_tab {
	width: 600px;
	height: 400px;
}
#tab1, #tab2, #tab3 {
	display: flex;
}
/* p {
	font-weight: bold;
	font-size: 17px;
} */

.samp_select{
	width: 150px;
}
.error-input, .error-input:focus {
	border-color: red;
	outline: 0;
	background-color: #ffeeee;
}
.error-input:hover {
	border-color: red;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(200, 0, 0, .6);
}
.list-holder {
	width: 100%;
	border: 1px solid #888;
	background-color: white; 
	height: 250px; 
	padding: 3px 10px; 
	overflow-x: hidden; 
	overflow-y: visible;
}
#create_city, #create_country {
	margin-top: 15px;
}

.edited-list {
	margin: 0;
	padding: 0;
}
.edited-list li {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border-bottom: 1px solid rgb(204, 204, 204);
	padding: 5px 0;
}
.edited-list li:last-child {
	border-bottom: 0;
}
.edited-list .list-number {
	width: 30px;
}
.edited-list .list-name{
	flex-grow: 1;
}
.edited-list a{
	font-size: 12px;
	display: inline-block;
	width: 16px;
	padding: 2px 4px;
	margin-left: 4px;
}
.list-holder a{
	text-decoration: none;
}
.glyphicon-remove:hover {
	color: red;
	
} 
.glyphicon-pencil:hover {
	color: rgb(0, 183, 255);
}


