<h1 mat-dialog-title>{{data.title}}</h1>
<form mat-dialog-content [formGroup]="formDial" (ngSubmit)="onSubmit()">
	<mat-form-field>
		<input 
			id="fullName"
			matInput 
			placeholder="Enter your full name" 
			formControlName="fullName"
			required>
		<mat-error *ngIf="checkControl('fullName')">{{getErrMes("fullName")}}</mat-error>
	</mat-form-field>
	<mat-form-field>
		<input 
			id="email"
			matInput 
			placeholder="Enter your email" 
			formControlName="email"
			required
			>
		<mat-error *ngIf="checkControl('email')">{{getErrMes("email")}}</mat-error>
	</mat-form-field>
	<mat-form-field>
		<input 
		id="login"
		matInput 
		placeholder="Enter your login" 
		formControlName="login"
		required
		>
		<mat-error *ngIf="checkControl('login')">{{getErrMes("login")}}</mat-error>
	</mat-form-field>
	<mat-form-field>
		<input
			id="password"
			matInput 
			placeholder="Enter your password" 
			formControlName="password" 
			required
			>
		<mat-error *ngIf="checkControl('password')">{{getErrMes("password")}}</mat-error>
	</mat-form-field>
</form>
<hr>
<div mat-dialog-actions>
	<button 
		type="button" 
		id="clouse" 
		mat-raised-button 
		(click)="onCancel()"
		color="warn"
		>Cancel</button>
	<button 
		id="addBut" 
		mat-raised-button  
		[disabled]="formDial.invalid"
		[mat-dialog-close]="prepareData()"
		color="primary"
	>Create User</button>
</div>
	