<body>
  <div id="userCard" class="wrapper">
    <mat-toolbar>
      <span>My Application</span>
      <!-- <a>{{user.img}}</a> -->
    </mat-toolbar>
    <mat-list>
      <mat-list-item>
        <b>Fullname:</b>
      </mat-list-item>
      <mat-list-item>
        <p>{{user.fullName}}</p>
      </mat-list-item>

      <!-- <mat-divider></mat-divider> -->
      <mat-list-item>
        <b>Email: </b>
      </mat-list-item>
      <mat-list-item>
        <p>{{user.email}}</p>
      </mat-list-item>

      <!-- <mat-divider></mat-divider> -->
      <mat-list-item>
        <b>Login: </b>
      </mat-list-item>
      <mat-list-item>
        <p>{{user.login}}</p>
      </mat-list-item>

      <!-- <mat-divider></mat-divider> -->
      
      <mat-list-item>
        <b>Password: </b>
      </mat-list-item>
      <mat-list-item>
        <p>{{user.password}}</p>
      </mat-list-item>
    </mat-list>
  </div>
</body>