body {
	width: 100%;
	hr {
		background-color: #f0f0f0;
		width: 700px;
	}
	.wrapper {
		border: 2px solid rgba(0,0,0,.03);
		box-shadow: 0 2px 2px rgba(0,0,0,.24),0 0 2px rgba(0,0,0,.12);
		margin: 4px;
	}
	#userCard {
		
		margin: 20px;
		min-width: 700px;

		mat-list {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: baseline;
			margin: 15px;
		}
	}
}
