<div>
    <div>
        <button id="addUser" mat-raised-button (click)="openDialog()" color="primary">Add User</button>
        <div>
            <!--matSort matSortActive="created" 
                matSortDisableClear
                matSortDirection="asc" -->
            <table id="tableCont" mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="index">
                    <th mat-header-cell *matHeaderCellDef> Index </th>
                    <td mat-cell *matCellDef="let element; let i = index;">{{i + 1}}</td>
                </ng-container> 
                
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>Id</th>
                    <td mat-cell *matCellDef="let row">{{row.id}}</td>
                </ng-container>

                <ng-container matColumnDef="login">
                    <th mat-header-cell *matHeaderCellDef>Login</th>
                    <td mat-cell *matCellDef="let row">{{row.login}}</td>
                </ng-container>

                <ng-container matColumnDef="fullName">
                    <th mat-header-cell *matHeaderCellDef>Fullname</th>
                    <td mat-cell *matCellDef="let row">{{row.fullName}}</td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef>Email</th>
                    <td mat-cell *matCellDef="let row">{{row.email}}</td>
                </ng-container>

                <ng-container matColumnDef="update">
                    <th mat-header-cell *matHeaderCellDef>Update</th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-raised-button (click)="openDialog(row)" color="primary">Update</button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef>Delete</th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-raised-button (click)="OnDelete(row.id)" color="warn">Delete</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="resultsLength" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>

    </div>
</div>
