/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './styles/bootstrap/css/bootstrap.min.css';
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'),
	  local('MaterialIcons-Regular'),
	  url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
	  url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
	  url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
html, body {
	margin: 0;
	height: 100%;

}
// header {
// 	min-height: 80px;
// 	flex-grow: 0;
// }

.brd {border: 1px dotted green;}

.col-red { background-color: red}
.col-green { background-color: green}
.col-yellow { background-color: yellow}
.col-cyan { background-color: cyan}
.col-violet { background-color: blueviolet}
.box-content {
	background-color: yellow;
	height: 150px;
	margin: 10px 10px;
}

.box-content:first-child, .box-content:last-child {
	margin: 0px 10px;
}

.box-menu {
	background-color: red;
	height: 150px;
	margin: 10px 10px;
}

#screen {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	flex-wrap: nowrap;
}

#main {
	flex-grow: 1;
	height: 100%;  /* Very important change! */
}

#sidenav{
	#logoutB:hover {
		cursor: pointer;
	}
	a {
		padding: 8px 8px 8px 10px;
		text-decoration: none;
		font-size: 25px;
		color: #818181;
		display: block;
		transition: 0.3s;
	  }
	  a:hover, .active  {
		color: #f1f1f1;
		background-color: #56626e;
	  }
	min-width: 300px;
	overflow: auto;
	background-color: #111;
	overflow-x: hidden;
	
}
#content-holder {
	padding: 0;
	display: block;
	height: 100%;
	overflow: auto;
}
#content {
	height: 100%;
	overflow: auto;
}

#mainHeader { 
	display: block;
	min-height: 60px;
	flex-grow: 0;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: baseline;
	background-color: #56626e;
	border-bottom: 1px solid aliceblue;


	img {
		width: auto;
		height: 50px;
	}
	h1, p {
		font-weight: bold;
		color: aliceblue;
	}
	mat-icon {
		color: aliceblue;
	}
	#menuToggler {
		width: 40px;
		height: 40px;
		border-radius: 15px;
	}
}
  