<!-- isert code menu toggle -->

<div id="screen" class="col-red">
	<!-- header -->
	<app-header (clickChange)="stateToggle($event)" id="mainHeader"></app-header>
	<!-- content -->
	<mat-sidenav-container id="main">
		<mat-sidenav id="sidenav" class="col-cyan" #sidenav [mode]="menuMode" [opened]="menuToggle">
			<!-- menu here -->
				<app-menu></app-menu>
			
		</mat-sidenav>
		<mat-sidenav-content id="content-holder">
			<router-outlet></router-outlet>
<!-- <div class="box-content"></div> -->
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>