.form-sigin {
	mat-form-field {
		padding: 20px;
	}
	text-align: center;
	width: 100%;
	max-width: 330px;
	min-height: 300px;
	padding: 15px;
	margin: auto;
	border: 1px solid black;
	border-radius: 15px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	button {
		margin-top: 20px;
	}
}
