<div class="form-sigin">
  <h3>Войти</h3>
  <hr>
  <form name="loginInForm" [formGroup]="loginInForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input
       matInput 
       placeholder="Enter your login" 
       [formControl]="login"
       required>
      <mat-error *ngIf="login.invalid">{{getErrMes("login")}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
      type="password"
      matInput 
      placeholder="Enter your password" 
      [formControl]="password" 
      required>
      <mat-error *ngIf="password.invalid">{{getErrMes("password")}}</mat-error>
      <!-- <mat-error *ngIf="password.invalid">{{getRequiredLengthMessage("password")}}</mat-error> -->
    </mat-form-field>
    <br>
    <button 
      type="submit"
      mat-raised-button 
      [disabled]="loginInForm.invalid"
    >Enter</button>
  </form>
  <hr>
  <p>I want to <a [routerLink]="'/registration'">register</a></p>
</div>