<mat-tab-group  [selectedIndex]="activeTab">
  <mat-tab label="First">
    <app-form [tabNum]="0"></app-form>
  </mat-tab>
  <mat-tab label="Second">
    <app-form [tabNum]="1"></app-form>
  </mat-tab>
  <mat-tab label="Third">
    <app-form [tabNum]="2"></app-form>
  </mat-tab>
</mat-tab-group>