<div>
  <button id="menuToggler" mat-raised-button color="accent" (click)="headerToggler()">
    <i class="material-icons"> list </i>
  </button>
</div>
<div>
  <img src="/assets/image/logo1.png" alt="logo">
</div>
<div>
  <h1>Material-managment</h1>
</div>
<div>
  <p>Hello, {{user.login}}</p>
</div>
<!-- 
<div>
  <button mat-raised-button color="accent" mat-icon-button>
    <mat-icon>dialpad</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="onLogout()">
      <mat-icon>reply</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</div> -->