<div class="form-regist">
	<h3>Регистрация</h3>
	<hr>
	<form [formGroup]="frm" (ngSubmit)="onSubmit()">
		<mat-form-field>
			<input 
				matInput 
				placeholder="Enter your full name" 
				formControlName="fullName"
				required>
			<mat-error *ngIf="checkControl('fullName')">{{getErrMes("fullName")}}</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input 
				matInput 
				placeholder="Enter your email" 
				formControlName="email"
				required
				(keyup)="OnKeyUpEm($event)"
			>
			<mat-error *ngIf="checkControl('email')">{{getErrMes("email")}}</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input 
				matInput 
				placeholder="Enter your login" 
				formControlName="login"
				required
			>
			<mat-error *ngIf="checkControl('login')">{{getErrMes("login")}}</mat-error>
		</mat-form-field>
		<mat-form-field>
			<input
				matInput 
				placeholder="Enter your password" 
				formControlName="password" 
				required
				>
			<mat-error *ngIf="checkControl('password')">{{getErrMes("password")}}</mat-error>
		</mat-form-field>
		<hr>
		<button type="submit" id="registBut" mat-raised-button [disabled]="frm.invalid">Submit</button>
	</form>
	<br>
	<br>
	<a [routerLink]="'/login'">уже есть аккаунт?</a>
</div>