.form-regist {
	mat-form-field {
		padding: 10px;
	}
	text-align: center;
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
	border: 1px solid black;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}