header {
	display: flex;
	justify-content: space-between;
	background-color: #56626e;
	border-bottom: 1px solid aliceblue;
	h1 {
		color: aliceblue;
	}
}
.main {
	display: flex;
}
aside {
	max-width: 600px;
}
a {
	text-decoration: none;
}
.ButtonAbs {
	position: absolute;
    top: 0;
}
.mat-drawer-container {

	width: 300px;
	min-height: 180px;
// -border: 1px solid rgba(0, 0, 0, 0.5);
	// background-color: #2a3744;
}
.mat-drawer-backdrop ng-star-inserted mat-drawer-shown {
	display: none;
}

mat-drawer {
	max-width: 300px;
	min-width: 260px;
}
.mat-list, .mat-selection-list {
	padding-top: 0;
}

.sidenav-content {
	mat-list-item {
			color: aliceblue;
			border-bottom: 1px solid aliceblue;
		}
	mat-list-item:hover, .active {
		background-color: #56626e;
	}

	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2a3744;
}
#asideB {
	width: 40px;
	height: 40px;
	border-radius: 15px;
	margin-left: 10px;
	margin-top: 10px;
}
