<div>
  <a routerLinkActive="active" [routerLink]="['/system','home']">Home Page</a>
  <a routerLinkActive="active" [routerLink]="['/system', 'users']">Users List</a>
  <a  id='logoutB' routerLinkActive="active" (click)="openDialog()">Logout</a>
</div>