/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
    height: 100%;
    h1 {
        padding: 0;
        margin: 0;
    }

}
#main {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 100%;
}